<!DOCTYPE html>

<html>
<head>
 <title>Sign Up</title>
</head>

<body>

<form method="post">
  <label>
    Username<br>
    <input name="username" value="{{username}}"> <font color="red">{{ue}}</font>
  </label>
  <br>
  <label>
    Password<br>
    <input name="password" type="password" value=""> <font color="red">{{pe}}</font>
  </label>
  <br>
  <label>
    verify<br>
    <input name="verify" type="password" value=""> <font color="red">{{ve}}</font>
  </label>
  <br>
  <label>
    Email (optional) <br>
    <input name="email" value="{{email}}"> <font color="red">{{ee}}</font>
  </label>
  <br>

  <input type="submit">
</form>
</body>
</html>
